{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="Kleon Admin Template">
    <meta name="author" content="">

    <!-- Favicon and touch Icons -->
    <!-- <link href="{% static 'official/img/favicon.png" rel="shortcut icon" type="image/png">
    <link href="{% static 'official/img/apple-touch-icon.html" rel="apple-touch-icon">
    <link href="{% static 'official/img/apple-touch-icon-72x72.html" rel="apple-touch-icon" sizes="72x72">
    <link href="{% static 'official/img/apple-touch-icon-114x114.html" rel="apple-touch-icon" sizes="114x114">
    <link href="{% static 'official/img/apple-touch-icon-144x144.html" rel="apple-touch-icon" sizes="144x144"> -->

    <!-- Page Title -->
    <title>Kleon Admin Template</title>

    <!-- Styles Include -->
    <link rel="stylesheet" href="{% static 'official/css/main.css' %}" id="stylesheet">

</head>


<body class="bg-light">

    {% include 'official/partials/header.html' %}

    {% include 'official/partials/sidebar.html' %}


    <!-- content -->
    {% block content %}

    {% endblock %}




    <!-- Core JS -->
    <script src="{% static 'official/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'official/js/bootstrap.bundle.min.js' %}"></script>

    <!-- jQuery UI Kit -->
    <script src="{% static 'official/plugins/jquery_ui/jquery-ui.1.12.1.min.js' %}"></script>

    <!-- ApexChart -->
    <script src="{% static 'official/plugins/apexchart/apexcharts.min.js' %}"></script>
    <script src="{% static 'official/plugins/apexchart/apexchart-inits/apexcharts-analytics-2.js' %}"></script>

    <!-- Peity  -->
    <script src="{% static 'official/plugins/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'official/plugins/peity/piety-init.js' %}"></script>

    <!-- Select 2 -->
    <script src="{% static 'official/plugins/select2/js/select2.min.js' %}"></script>

    <!-- Datatables -->
    <script src="{% static 'official/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'official/plugins/datatables/js/datatables.init.js' %}"></script>



    <!-- Date Picker -->
    <script src="{% static 'official/plugins/flatpickr/flatpickr.min.js' %}"></script>

    <!-- Dropzone -->
    <script src="{% static 'official/plugins/dropzone/dropzone.min.js' %}"></script>
    <script src="{% static 'official/plugins/dropzone/dropzone_custom.js' %}"></script>

    <!-- TinyMCE -->
    <script src="{% static 'official/plugins/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'official/plugins/prism/prism.js' %}"></script>
    <script src="{% static 'official/plugins/jquery-repeater/jquery.repeater.js' %}"></script>

    <!-- Sweet Alert -->
    <script src="{% static 'official/plugins/sweetalert/sweetalert2.min.js' %}"></script>
    <script src="{% static 'official/plugins/sweetalert/sweetalert2-init.js' %}"></script>
    <script src="{% static 'official/plugins/nicescroll/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'official/plugins/nicescroll/jquery.nicescroll.min.js' %}"></script>

    <!-- Snippets JS -->
    <script src="{% static 'official/js/snippets.js' %}"></script>

    <!-- Theme Custom JS -->
    <script src="{% static 'official/js/theme.js' %}"></script>

</body>

</html>