{% load static %}


<!-- partial:partials/_navbar.html -->
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
    <a class="navbar-brand brand-logo me-5" href="{% url 'official:index' %}"><img
        src="{% static 'official/images/logo-big.jpg' %}" class="me-2" alt="logo" /></a>
    <a class="navbar-brand brand-logo-mini" href="{% url 'official:index' %}"><img
        src="{% static 'official/images/logo.png' %}" alt="logo" /></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="icon-menu"></span>
    </button>

    <ul class="navbar-nav navbar-nav-right">


      <li class="nav-item nav-profile dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">

          
          <p class="username">{{ request.user }} <img
            src="{% static 'official/images/logout.png' %}" alt="logo" /> </p>
     
         
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
          {% if user.is_authenticated %}
          <a href="{% url 'official:logoutuser' %}" class="dropdown-item">
            <i class="ti-power-off text-primary"></i>
            Logout
          </a>
          {% endif %}

        </div>
      </li>





    </ul>

    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
      data-toggle="offcanvas">
      <span class="icon-menu"></span>
    </button>
  </div>
</nav>
<!-- partial -->