{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item {% if is_index %}active{% endif %}">
      <a class="nav-link" href="{% url 'official:index' %}">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item {% if is_project %}active{% endif %}">
      <a class="nav-link" data-bs-toggle="collapse" href="#project" aria-expanded="false" aria-controls="project">
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Projects</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="project">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item {% if is_project %}active{% endif %}"><a class="nav-link" href="{% url 'official:projects' %}">Projects</a></li>
          <li class="nav-item {% if is_project %}active{% endif %}"><a class="nav-link" href="{% url 'official:add-project' %}">Add Project</a></li>
        </ul>
      </div>
    </li>


    <li class="nav-item {% if is_daily_report %}active{% endif %}">
      <a class="nav-link" href="{% url 'official:user_list' %}">
        <i class="icon-cog menu-icon"></i>
        <span class="menu-title">Daily Report</span>
      </a>
    </li>

    <li class="nav-item {% if is_monthly_report %}active{% endif %}">
      <a class="nav-link" href="{% url 'official:monthly-report' %}">
        <i class="icon-cog menu-icon"></i>
        <span class="menu-title">Monthly Report</span>
      </a>
    </li>

    <li class="nav-item {% if is_submission %}active{% endif %}">
      <a class="nav-link" href="{% url 'official:submission' %}">
        <i class="icon-cog menu-icon"></i>
        <span class="menu-title">Submission Program</span>
      </a>
    </li>

    <li class="nav-item {% if is_user %}active{% endif %}">
      <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false"
        aria-controls="form-elements">
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">User</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="form-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item {% if is_user %}active{% endif %}"><a class="nav-link" href="{% url 'official:add-user' %}">Add User</a></li>
          <li class="nav-item {% if is_user %}active{% endif %}"><a class="nav-link" href="{% url 'official:list-checker' %}">Checker</a></li>
          <li class="nav-item {% if is_user %}active{% endif %}"><a class="nav-link" href="{% url 'official:list-detailer' %}">Detailer</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item {% if is_clients %}active{% endif %}">
      <a class="nav-link" data-bs-toggle="collapse" href="#add-client" aria-expanded="false"
        aria-controls="add-client">
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Clients</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="add-client">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item {% if is_clients %}active{% endif %}"><a class="nav-link" href="{% url 'official:view-client' %}">View Client</a></li>
          <li class="nav-item {% if is_clients %}active{% endif %}"><a class="nav-link" href="{% url 'official:add-client' %}">Add Client</a></li>
        </ul>
      </div>
    </li>


  </ul>
</nav>