{% extends 'official/partials/base.html' %}
{% load static %}
{% block content %}



<div class="row grid-margin">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="text-center">
                    <h3 class="">ADD PROJECT</h3>
                </div>

                <form action="{% url 'official:add-project' %}" method="POST" class="form-sample pt-5">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4">Title</label>
                                <div class="col-sm-8">
                                    <input name="title" type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4">description</label>
                                <div class="col-sm-8">
                                    <input name="description" type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4">Start Date</label>
                                <div class="col-sm-8">
                                    <input name="start_date" type="date" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4">End Date</label>
                                <div class="col-sm-8">
                                    <input name="end_date" type="Date" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4">Assumed No. Sheet</label>
                                <div class="col-sm-8">
                                    <input name="assume_sheet" type="number" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4">Assumed WT</label>
                                <div class="col-sm-8">
                                    <input name="assume_wt" type="number" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4">Submission Date</label>
                                <div class="col-sm-8">
                                    <input name="submission_date" type="Date" class="form-control">
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4">First Check Complte Date</label>
                                <div class="col-sm-8">
                                    <input name="first_check_complete" type="Date" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4">comments</label>
                                <div class="col-sm-8">
                                    <input name="comments" type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4">Second Check Complete Date</label>
                                <div class="col-sm-8">
                                    <input name="second_check_complete" type="Date" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4">Actual Submission Date</label>
                                <div class="col-sm-8">
                                    <input name="actual_submission" type="Date" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Select Client</label>
                                <div class="col-sm-8">
                                    <select name="client" class="form-control">
                                        {% for i in client %}
                                            <option value="{{ i.id }}">
                                                {{ i.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Select Checker</label>
                                <div class="col-sm-8">
                                    <select name="assigned_checker" class="form-control">
                                        {% for checker in checker %}
                                            <option value="{{ checker.id }}">
                                                {{ checker.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

<!-- 
                        <div class="col-lg-6">
                            <div class="card-body">
                              <h4 class="card-title">Input Tag</h4>
                              <p class="card-description">Type to add a new tag</p>
                              <input name="tags" id="tags" value="London,Canada,Australia,Mexico" data-tagsinput-init="true" style="display: none;" class="editable editable-click editable-empty"><div id="tags_tagsinput" class="tagsinput" style="width: 100%; min-height: 75%; height: 75%;"><div id="tags_addTag"><input id="tags_tag" value="" data-default="Add More" style="color: rgb(102, 102, 102); width: 68.4px;"></div><div class="tags_clear"></div></div>
                            </div>
                          </div> -->
                        

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Select Detailer</label>
                                <div class="col-sm-8">
                                    <select id="assigned_detailer" name="assigned_detailer" class="form-control">
                                        {% for detailer in detailer %}
                                        <option value="{{ detailer.id }}">
                                            {{ detailer.user.username }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        

                        <div class="text-end">
                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        </div>

                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}