{% extends 'official/partials/base.html' %}
{% load static %}
{% block content %}

<div class="row grid-margin">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Add New Task</h4>
          <form class="cmxform" id="commentForm" method="get" action="#" novalidate="novalidate">
            <fieldset>
              <div class="form-group has-danger">
                <label for="cname">Name (required, at least 2 characters)</label>
                <input id="cname" class="form-control form-control-danger" name="name" minlength="2" type="text" required="" aria-invalid="true"><label id="cname-error" class="error mt-2 text-danger" for="cname">This field is required.</label>
              </div>
              <div class="form-group">
                <label for="cemail">E-Mail (required)</label>
                <input id="cemail" class="form-control" type="email" name="email" required="">
              </div>
              <div class="form-group">
                <label for="curl">URL (optional)</label>
                <input id="curl" class="form-control" type="url" name="url">
              </div>
              <div class="form-group">
                <label for="ccomment">Your comment (required)</label>
                <textarea id="ccomment" class="form-control" name="comment" required=""></textarea>
              </div>

              <select class="js-example-basic-single w-100 select2-hidden-accessible" data-select2-id="1" tabindex="-1" aria-hidden="true">
                <option value="AL" data-select2-id="3">Alabama</option>
                <option value="WY" data-select2-id="16">Wyoming</option>
                <option value="AM" data-select2-id="17">America</option>
                <option value="CA" data-select2-id="18">Canada</option>
                <option value="RU" data-select2-id="19">Russia</option>
              </select>

              
              <input class="btn btn-primary" type="submit" value="Submit">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}