{% extends 'official/partials/base.html' %}
{% load static %}
{% block content %}



<div class="row grid-margin">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        
        {% if messages %}
        <div class="messages">
          {% for message in messages %}
          <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}


        <div class="text-center">
          <h3 class="">ADD CLIENT</h3>
        </div>

        <form action="{% url 'official:add-client' %}" method="POST" class="form-sample pt-5">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4">Name</label>
                <div class="col-sm-8">
                  <input name="name" type="text" class="form-control">
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4">Phone Number</label>
                <div class="col-sm-8">
                  <input name="phone" type="phone" class="form-control">
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4">Email</label>
                <div class="col-sm-8">
                  <input name="email" type="email" class="form-control">
                </div>
              </div>
            </div>




            <div class="text-end">
              <button type="submit" class="btn btn-primary mr-2">Submit</button>
            </div>

          </div>
        </form>

      </div>
    </div>

  </div>
</div>

{% endblock %}