{% extends 'official/partials/base.html' %}
{% load static %}
{% block content %}

    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Welcome {{ request.user }}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 grid-margin transparent">
        <div class="row">
          <div class="col-md-3 mb-4 stretch-card transparent">
            <div class="card card-tale">
        
               <div class="card-body">
                <p class="mb-4">No.of Projects</p>
                <p class="fs-30 mb-2">{{ total_projects }}</p>
                <p> </p>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
              <div class="card-body">
                <p class="mb-4">OnGoing Projects</p>
                <p class="fs-30 mb-2">61344</p>
                
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
              <div class="card-body">
                <p class="mb-4">OnGoing Projects</p>
                <p class="fs-30 mb-2">61344</p>
                
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
              <div class="card-body">
                <p class="mb-4">OnGoing Projects</p>
                <p class="fs-30 mb-2">61344</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0 pb-5">
              <h3 class="font-weight-bold">Submission Program</h3>
              <h6 class="font-weight-normal mb-0">Project Under Submission</h6>
          </div>
          <div class="row">
              <div class="col-12">
                  <div class="table-responsive">
                      <table id="order-listing" class="table">
                          <thead>
                              <tr>
                                  <th>sl/no</th>
                                  <th>Client</th>
                                  <th>Project</th>
                                  <th>Description</th>
                                  <th>No.of sheets</th>
                                  <th>first draft start</th>
                                  <th>first draft complete</th>
  
                                  <th>first check complete</th>
                                  <th>first check Name</th>
                                  <th>Comments</th>
                                  <th>second check complete</th>
                                  <th>second check Name</th>
  
                                  <th>submission date</th>
                                  <th>actual date</th>
                                  <th>Detailer</th>
  
  
  
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1</td>
                                  <td>ABC</td>
                                  <td>DMAC</td>
                                  <td>TD L05 SLAB UPDATION,SVG P1&P2 L3&4 UPDATION</td>
                                  <td>3</td>
                                  <td>none</td>
                                  <td>####</td>
                                  <td>05/10/2023</td>
  
                                  <td>DDM</td>
                              <td>JSR</td>
                              <td>05/10/2023</td>
                              <td>ABJ</td>
                              <td>05/10/2023</td>
                              <td>05/10/2023</td>
                              <td>ADT</td>
                              </tr>
                              
                            
  
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
    
{% endblock %}