{% extends 'official/partials/base.html' %}
{% load static %}
{% block content %}

        <div class="card">
            <div class="card-body">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0 pb-5">
                    <h3 class="font-weight-bold">Monthly Report</h3>
            
                    <div class="row">

                        <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title"></h4>
                
                                        <div class="progress progress-lg">
                                            <div class="progress-bar bg-warning" role="progressbar"
                                                 style="width:%"
                                                 aria-valuenow=""
                                                 aria-valuemin="0" aria-valuemax="100">
                                           
                                            </div>
                                        </div>
                        
                                        <p></p>
                             
                
                                    <div class="text-center pt-4">
                                        <a href="{% url 'official:monthly-report-detail' %}" type="button"
                                           class="btn btn-outline-warning btn-fw">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                </div>

                  </div>
            
            </div>
        </div>
  

{% endblock %}


