{% extends 'official/partials/base.html' %}
{% load static %}
{% block content %}


<div class="card">
    <div class="card-body">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0 pb-5">
            <h3 class="font-weight-bold">{{ project.title }}</h3>
            <h6 class="font-weight-normal mb-0">Daily Report</h6>
          </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th>SL/NO</th>
                                <th>PROJECT</th>
                                <th>DESCRIPTION</th>
                                <th>NUMBER OF SHEETS</th>
                                <th>FIRST DRAFTING START</th>
                                <th>FIRST DRAFTING COMPLETE</th>
                                <th>FIRST CHECKING COMPLETE</th>
                                <th>FIRST CHECKING NAME</th>
                                <th>COMMENTS UPDATED</th>
                                <th>SECOND CHECK COMPLETE</th>
                                <th>SECOND CHECK NAME</th>
                                <th>SUBMISSION DATE</th>
                                <th>ACTUAL DATE OF SUBMISSION</th>
                                <th>DETAILER</th>
                            </tr>
                        </thead>
                        <tbody>

                            
                            <tr>
                                <td>1</td>
                 
                                <td>{{ project.title }}</td>
                                <td>{{ project.description }}</td>
                                <td>***</td>
                                <td>{{ project.start_date}}</td>
                                <td>{{ project.end_date}}</td>
                                <td>***</td>
                                <td>{{ project.assigned_checker}}</td>
                                <td>***</td>
                                <td>***</td>

                                <td>{{ project.assigned_checker}}</td>

                                <td>{{ project.submission_date }}</td>
                                <td>***</td>
                                <td>{{ project.assigned_detailer }}</td>

                                
                                
                            </tr>
                     


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}