{% extends 'official/partials/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h3 class="">Project Name : {{ project.title }}</h3>
                        <h4>Description : {{ project.description }}</h4>
                    </div>
                  

                    <div>
                        <button type="button" class="btn btn-social-icon-text"><i class="icon-pencil"></i>Edit</button>
                    </div>
                </div>
                

                <div class="pt-5">
                    <div class="card data-icon-card-primary">
                        <div class="card-body">
                            <h3 class="text-white">Project Details</h3>
                            <p class="card-title text-white pt-5">Number 0f Sheet : {{ project.assumed_no_of_sheet }}</p>
                            <p class="card-title text-white">First Drafting Start : {{ project.start_date}}</p>
                            <p class="card-title text-white">First Drafting Complete : {{ project.end_date}}</p>
                            <p class="card-title text-white">First Checking Complete : ****</p>
                            <p class="card-title text-white">First Checking Name : {{ project.assigned_checker}}</p>
                            <p class="card-title text-white">Commnets Updated : ***</p>
                            <p class="card-title text-white">Second Checking Complete : ****</p>
                            <p class="card-title text-white">Second Checking Name : {{ project.assigned_detailer}}</p>
                            <p class="card-title text-white">Submission Date : {{ project.submission_date }}</p>
                            <p class="card-title text-white">Actual Date of Submission : ***</p>
                            <p class="card-title text-white">Detailer : {{ project.assigned_detailer }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>





</div>

{% endblock %}