{% load static %}
<!DOCTYPE html>
<html lang="zxx">
    <head>
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta name="description" content="Kleon Admin Template">
        <meta name="author" content="">

        <!-- Favicon and touch Icons -->
        <!-- <link href="{% static 'official/img/favicon.png" rel="shortcut icon" type="image/png">
        <link href="{% static 'official/img/apple-touch-icon.html" rel="apple-touch-icon">
        <link href="{% static 'official/img/apple-touch-icon-72x72.html" rel="apple-touch-icon" sizes="72x72">
        <link href="{% static 'official/img/apple-touch-icon-114x114.html" rel="apple-touch-icon" sizes="114x114">
        <link href="{% static 'official/img/apple-touch-icon-144x144.html" rel="apple-touch-icon" sizes="144x144"> -->

        <!-- Page Title -->
        <title>Kleon Admin Template</title>
        
        <!-- Styles Include -->
        <link rel="stylesheet" href="{% static 'official/css/main.css' %}" id="stylesheet">
        
    </head>


    <body class="bg-soft-primary">
        <!-- Preloader -->
        <div id="preloader">
            <div class="preloader-inner">
                <div class="spinner"></div>
                <div class="logo"><img src="{% static 'official/img/logo-icon.svg' %}" alt="img"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-6">
                <div class="d-none d-md-flex align-items-center justify-content-center" style="height: calc(100vh - 100px);">
                    <img src="{% static 'official/img/company.jpg' %}" alt="img" class="img-fluid">
                </div>
            </div>

            <div class="col-xl-5 col-lg-5 col-md-6">
                <div class="d-flex align-items-center justify-content-center vh-100 bg-white">
                    <div class="card rounded-0 border-0 p-5 m-0 w-100">

                        <div class="card-header border-0 p-0">
                            <a href="index.html" class="w-100 d-inline-block mb-5">
                                <img src="{% static 'official/img/logo.svg' %}" alt="img">
                            </a>
                            <h2>Welcome to Kleon!</h2>
                            <p class="text-dark mt-4 mb-5">Signup here to create your own dashboard.</p>
                        </div>
                    
                    
                        <div class="card-body p-0">
                            <form class="form-horizontal" method="post">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" value="" placeholder="Name or User Name" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" value="" placeholder="Email" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="password" value="" placeholder="Type Password" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="c_password" value="" placeholder="Re-type Password" required>
                                        </div>
                                    </div>
                                </div>

                                <a href="#" class="btn btn-primary w-100 text-uppercase text-white rounded-2 lh-34 ff-heading fw-bold shadow">Register</a>
                                
                                <p class="d-flex align-items-center gap-2 mt-4 mb-0">Already have an account? <a href="{% url 'official:login' %}" class="text-secondary fw-bold text-decoration-underline">Sign In</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    <!-- Core JS -->
    <script src="{% static 'official/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'official/js/bootstrap.bundle.min.js' %}"></script>

    <!-- jQuery UI Kit -->
    <script src="{% static 'official/plugins/jquery_ui/jquery-ui.1.12.1.min.js' %}"></script>

    <!-- ApexChart -->
    <script src="{% static 'official/plugins/apexchart/apexcharts.min.js' %}"></script>
    <script src="{% static 'official/plugins/apexchart/apexchart-inits/apexcharts-analytics-2.js' %}"></script>

    <!-- Peity  -->
    <script src="{% static 'official/plugins/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'official/plugins/peity/piety-init.js' %}"></script>

    <!-- Select 2 -->
    <script src="{% static 'official/plugins/select2/js/select2.min.js' %}"></script>

    <!-- Datatables -->
    <script src="{% static 'official/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'official/plugins/datatables/js/datatables.init.js' %}"></script>



    <!-- Date Picker -->
    <script src="{% static 'official/plugins/flatpickr/flatpickr.min.js' %}"></script>

    <!-- Dropzone -->
    <script src="{% static 'official/plugins/dropzone/dropzone.min.js' %}"></script>
    <script src="{% static 'official/plugins/dropzone/dropzone_custom.js' %}"></script>

    <!-- TinyMCE -->
    <script src="{% static 'official/plugins/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'official/plugins/prism/prism.js' %}"></script>
    <script src="{% static 'official/plugins/jquery-repeater/jquery.repeater.js' %}"></script>

    <!-- Sweet Alert -->
    <script src="{% static 'official/plugins/sweetalert/sweetalert2.min.js' %}"></script>
    <script src="{% static 'official/plugins/sweetalert/sweetalert2-init.js' %}"></script>
    <script src="{% static 'official/plugins/nicescroll/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'official/plugins/nicescroll/jquery.nicescroll.min.js' %}"></script>

    <!-- Snippets JS -->
    <script src="{% static 'official/js/snippets.js' %}"></script>

    <!-- Theme Custom JS -->
    <script src="{% static 'official/js/theme.js' %}"></script>
        
    </body>
</html>