{% extends 'official/partials/base.html' %}
{% load static %}
{% block content %}
<div class="card">
    <div class="card-body">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0 pb-5">
            <h3 class="font-weight-bold">Submission Program</h3>
            <h6 class="font-weight-normal mb-0">Project Under Submission</h6>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th>sl/no</th>
                                <th>Client</th>
                                <th>Project</th>
                                <th>Description</th>
                                <th>No.of sheets</th>
                                <th>first draft start</th>
                                <th>first draft complete</th>
                                <th>first check complete</th>
                                <th>first check Name</th>
                                <th>Comments</th>
                                <th>second check complete</th>
                                <th>second check Name</th>
                                <th>submission date</th>
                                <th>actual date</th>
                                <th>Detailer</th>



                            </tr>
                        </thead>
                        <tbody>

                            {% for project in projectList %}
                            <tr>
                                <td>1</td>
                                <td>{{ project.client }}</td>
                                <td>{{ project.title }}</td>
                                <td>{{ project.description }}</td>
                                <td>{{ project.assumed_no_of_sheet }}</td>
                                <td>{{ project.start_date}}</td>
                                <td>{{ project.end_date}}</td>
                                <td>***</td>
                                <td>{{ project.assigned_checker}}</td>
                                <td>***</td>
                                <td>***</td>

                                <td>{{ project.assigned_checker}}</td>

                                <td>{{ project.submission_date }}</td>
                                <td>***</td>
                                <td>{{ project.assigned_detailer }}</td>

                                
                                
                            </tr>
                            {% endfor %}
                          

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}