{% extends 'official/partials/base.html' %}
{% load static %}
{% block content %}
<div class="card">
    <div class="card-body">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0 pb-5">
            <h3 class="font-weight-bold">Submission Program</h3>
            <h6 class="font-weight-normal mb-0">Project Under Submission</h6>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th>sl/no</th>
                                <th>Client</th>
                                <th>Project</th>
                                <th>Description</th>
                                <th>No.of sheets</th>
                                <th>first <br> draft start</th>
                                <th>first <br> draft complete</th>
                                <th>first <br> check complete</th>
                                <th>first <br> check Name</th>
                                <th>Comments</th>
                                <th>second <br> check complete</th>
                                <th>second <br> check Name</th>
                                <th>submission  date</th>
                                <th>actual <br> date of submission</th>
                                <th>Detailer</th>
                                <th>ACTION</th>

                            </tr>
                        </thead>
                        <tbody>

                            {% for project in projectList %}
                            <tr>
                                <td>1</td>
                                <td>{{ project.client }}</td>
                                <td>{{ project.title }}</td>
                                <td>{{ project.description }}</td>
                                <td>{{ project.assumed_no_of_sheet }}</td>
                                <td>{{ project.start_date}}</td>
                                <td>{{ project.end_date}}</td>
                                <td>***</td>
                                <td>{{ project.assigned_checker}}</td>
                                <td>***</td>
                                <td>***</td>

                                <td>{{ project.assigned_checker}}</td>

                                <td>{{ project.submission_date }}</td>
                                <td>***</td>
                                <td>{{ project.assigned_detailer }}</td>
                                <td>
                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#submissionEdit{{ project.id }}">
                                        <i class="ti-pencil-alt"></i>
                                    </button>
                                </td>
                                <div class="modal fade" id="submissionEdit{{ project.id }}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="submissionEditForm{{ project.id }}" method="POST" action="">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label>Project Name</label>
                                                        <input type="text" class="form-control"
                                                            id="projectName{{ project.id }}" name="projectName">
                                                    </div>
                                                    <!-- <button type="button" onclick="updateProject({{ project.id }})"
                                                        class="btn btn-primary">Update</button> -->
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {     
        function getProjectDetails(projectId) {
            $.ajax({
                type: 'GET',
                url: '/submission/get_submission_detail/' + projectSubmissionId + '/',
                success: function (data) {
                    $('#submissionEditForm' + projectId).attr('data-project-id', projectId);
                    $('#projectName' + projectId).val(data.title);
                    $('#submissionEdit' + projectId).modal('show');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

    });
</script>

</script>
{% endblock %}