{% extends 'official/partials/base.html' %}
{% load static %}
{% block content %}
<div class="card">
    <div class="card-body">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0 pb-5">
            <h3 class="font-weight-bold">Submission Program</h3>
            <h6 class="font-weight-normal mb-0">Project Under Submission</h6>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th>sl/no</th>
                                <th>Client</th>
                                <th>Project</th>
                                <th>Description</th>
                                <th>No.of sheets</th>
                                <th>first <br> draft start</th>
                                <th>first <br> draft complete</th>
                                <th>first <br> check complete</th>
                                <th>first <br> check Name</th>
                                <th>Comments</th>
                                <th>second <br> check complete</th>
                                <th>second <br> check Name</th>
                                <th>submission date</th>
                                <th>actual <br> date of submission</th>
                                <th>Detailer</th>
                                <th>ACTION</th>

                            </tr>
                        </thead>
                        <tbody>

                            {% for project in projectList %}
                            <tr>
                                <td>1</td>
                                <td>{{ project.client }}</td>
                                <td>{{ project.title }}</td>
                                <td>{{ project.description }}</td>
                                <td>{{ project.assumed_no_of_sheet }}</td>
                                <td>{{ project.start_date}}</td>
                                <td>{{ project.end_date}}</td>
                                <td>{{ project.first_check_complete}}</td>
                                <td>{{ project.assigned_checker}}</td>
                                <td>{{ project.comments}}</td>
                                <td>{{ project.first_check_complete}}</td>

                                <td>{{ project.assigned_checker}}</td>

                                <td>{{ project.submission_date }}</td>
                                <td>{{ project.actual_submission }}</td>
                                <td>{{ project.assigned_detailer }}</td>
                                <td>
                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#submissionEdit">
                                        <i class="ti-pencil-alt"></i>
                                    </button>
                                </td>

                                <div class="modal fade" id="submissionEdit" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">


                                                <form id="submissionEditForm" method="POST" action="">
                                                    {% csrf_token %}

                                                    <div class="row">

                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Project id</label>
                                                                <input id="project_id" type="text" class="form-control">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Client</label>
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Project</label>
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Description</label>
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>No.of sheets</label>
                                                                <input type="number" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>First draft start</label>
                                                                <input type="date" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>First draft Complete</label>
                                                                <input type="date" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">

                                                            <div class="form-group">
                                                                <label>First Check Name</label>
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Comments</label>
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Second Check Complete</label>
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Second Check Name</label>
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Submission date</label>
                                                                <input type="date" class="form-control">
                                                            </div>

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Actual Date of submission</label>
                                                                <input type="date" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Detailer</label>
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-danger">Update</button>
                                            </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                </div>
                </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


</script>
{% endblock %}