{% extends 'official/partials/base.html' %}
{% load static %}
{% block content %}

<div class="card">
    <div class="card-body">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0 pb-5">
            <h3 class="font-weight-bold">Daily Report</h3>

        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th>SL/NO</th>
                            
                                <th>STAFF</th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for user in usersList %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ user.username }}</td>
                                <td>
                                    <a href="{% url 'official:daily-report-new' user.id %}"
                                        class="btn btn-outline-primary">View</a>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}