{% extends 'official/partials/base.html' %}
{% load static %}
{% block content %}

<div class="card">
    <div class="card-body">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0 pb-5">
            <h3 class="font-weight-bold">View Client</h3>
            <h6 class="font-weight-normal mb-0">List of all Client</h6>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th>SL/NO</th>
                                <th>CLIENT NAME</th>
                                <th>PROJECT</th>
                            

                            </tr>
                        </thead>
                        <tbody>

                            {% for client in clients %}
                            <tr id="client_row_{{ client.id }}">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ client.name }}</td>
                                <td><a href="{% url 'official:view-client-project' client.id %}"
                                        class="btn btn-outline-primary">Project View</a></td>

                               
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}