{% extends 'official/partials/base.html' %}
{% load static %}
{% block content %}

<div class="card">
    <div class="card-body">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0 pb-5">
            <h3 class="font-weight-bold">View Client</h3>
            <h6 class="font-weight-normal mb-0">List of all Client</h6>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th>SL/NO</th>
                                <th>CLIENT NAME</th>
                                <th>PROJECT</th>
                                <th>ACTION</th>

                            </tr>
                        </thead>
                        <tbody>

                            {% for client in clients %}
                            <tr id="client_row_{{ client.id }}">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ client.name }}</td>
                                <td><a href="{% url 'official:view-client-project' client.id %}"
                                        class="btn btn-outline-primary">Project View</a></td>

                                <td>
                                    <button class="btn btn-danger deleteButton"
                                        data-client-id="{{ client.id }}">Delete</button>
                                </td>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteButtons = document.querySelectorAll(".deleteButton");

        deleteButtons.forEach(button => {
            button.addEventListener("click", function () {
                const clientId = button.getAttribute("data-client-id");

                // Send an AJAX request to delete the client
                fetch(`/delete-client/${clientId}`, {
                    method: "DELETE",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}",
                        "Content-Type": "application/json",
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.message === "Client deleted successfully") {
                            // Remove the deleted client row from the table
                            const row = document.getElementById(`client_row_${clientId}`);
                            row.parentNode.removeChild(row);
                        } else {
                            console.error("Failed to delete client");
                        }
                    })
                    .catch(error => console.error(error));
            });
        });
    });
</script>

{% endblock %}