{% extends 'official/partials/base.html' %}
{% load static %}
{% block content %}

<div class="card">
    <div class="card-body">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0 pb-5">
            <h3 class="font-weight-bold">List of <span class="client-name">{{ client.name }}</span>  Projects</h3>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th>SL/NO</th>
                                <th>PROJECT NAME</th>
                                <th>DESCRIPTION</th>
                               
                            </tr>
                        </thead>
                        <tbody>

                          {% for project in projects %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{ project.title }}</td>
                                <td>{{ project.description }}</td>
                               
                            </tr>

                            {% endfor %}
                         
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}