{% extends 'checker/partials/base.html' %}
{% load static %}
{% block content %}


<div class="row">
    {% for project in assigned_projects %}
        <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ project.title }}</h4>

                    {% if project.latest_percentage %}
                        <div class="progress progress-lg">
                            <div class="progress-bar bg-warning" role="progressbar"
                                 style="width: {{ project.latest_percentage }}%"
                                 aria-valuenow="{{ project.latest_percentage }}"
                                 aria-valuemin="0" aria-valuemax="100">
                                {{ project.latest_percentage }}%
                            </div>
                        </div>
                    {% else %}
                        <p>No progress data available.</p>
                    {% endif %}  

                    <div class="text-center pt-4">
                        <a href="{% url 'checker:project-detail' project.id %}" type="button"
                           class="btn btn-outline-warning btn-fw">Update</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>



{% endblock %}
