{% load static %}

<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
    <a class="navbar-brand brand-logo me-5" href="{% url 'checker:index' %}"><img
        src="{% static 'checker/images/logo-big.jpg' %}" class="me-2" alt="logo" /></a>
    <a class="navbar-brand brand-logo-mini" href="{% url 'checker:index' %}"><img
        src="{% static 'checker/images/logo.png' %}" alt="logo" /></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="icon-menu"></span>
    </button>

    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item dropdown">
        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
          data-bs-toggle="dropdown">
          <i class="icon-bell mx-0"></i>
          <span class="count"></span>
        </a>

        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
          aria-labelledby="notificationDropdown">
          <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>

          {% if assigned_projects %}
          {% for notify in assigned_projects %}
          <a class="dropdown-item preview-item" id="project{{ notify.id }}" data-project-id="{{ notify.id }}">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-success">
                <i class="ti-server mx-0"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-normal seen" id="project-{{ notify.id }}">{{ notify.title }}</h6>
              <!-- Add any additional information you want to display -->
              <p class="mb-0 text-muted">
                Assigned on {{ notify.assignment_date|date:"F d, Y" }}
              </p>
            </div>
          </a>
          {% endfor %}
          {% else %}
          <p class="dropdown-item preview-item">There are no notifications.</p>
          {% endif %}


          <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

          <script>
            $(document).ready(function () {
              $('.preview-item').on('click', function (e) {
                e.preventDefault();
                var projectId = $(this).data('project-id');
                var url = $(this).data('url');

                $.ajax({
                  type: 'POST',
                  url: 'checker/mark_as_seen/',
                  data: {
                    project_id: projectId
                  },
                  success: function (data) {
                    $('#project' + projectId).remove();
                  },

                  error: function (xhr, textStatus, errorThrown) {
                    console.error('Error: ' + textStatus, errorThrown);
                  }
                });

                window.location.href = url;
              });
            });
          </script>


          </head>



          {% comment %}

          <!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
          <script>
            $(document).ready(function () {
              $('.preview-item').on('click', function (e) {
                e.preventDefault();
                var projectId = $(this).data('project-id');

                // Make an AJAX call to mark the project as seen
                $.ajax({
                  url: '{% url "checker:mark-as-seen" 0 %}'.replace('0', projectId),
                  type: 'POST',
                  success: function (data) {
                    // Optionally, you can remove the clicked item from the dropdown
                    $(e.target).remove();
                  },
                  error: function (error) {
                    console.log('Error marking project as seen:', error);
                  }
                });
              });
            });
          </script> -->


          {% endcomment %}
        </div>
      </li>
      <li class="nav-item nav-profile dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">
          <img src="{% static 'checker/images/faces/power.png' %}" alt="profile" />
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">


          {% if user.is_authenticated %}
          <a href="{% url 'official:logoutuser' %}" class="dropdown-item">
            <i class="ti-power-off text-primary"></i>
            Logout
          </a>
          {% endif %}

        </div>
      </li>
      <!-- <li class="nav-item nav-settings d-none d-lg-flex">
              <a class="nav-link" href="#">
                <i class="icon-ellipsis"></i>
              </a>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
          </button> -->
  </div>
</nav>
<!-- partial -->