{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'checker:index' %}">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'checker:project-list' %}">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Project List</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'checker:monthly_report' %}">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Monthly Report</span>
      </a>
    </li>




  </ul>
</nav>